:root {
    --bordeaux:#59221A;
    --matadorred:#D84051;
    --skyblue:#8BC1D1;
    --moneygreen:#358A69;
    --mustardyellow:#D1A15B;
    --sitewhite:#FAFDF6;
    --textblack:#2D1D1D;
}

.david {
    color: red;
}

body {
    background-color: var(--sitewhite);
    color: var(--textblack);
    padding: 180px;
    font-family: "Roboto Light", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}


